.container{
    position: relative;
    width: 250px;
    height: 320px;
    /* background: green; */
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    /* background:yellow; */
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    /* background:rgb(125, 245, 133); */
    background-image: url(images/holo.jpg);
    background-size: contain;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    background:rgb(187, 193, 187);
    transform: rotateY(180deg);
}
  